*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    background-color: hsl(30, 38%, 92%)
    ;
}
img{
    width: 15.938rem;
    height: 23.813rem;
    border-radius: 1rem 0 0 1rem;
}